<article [class]="candidate?.status === 'approved' && 'approved'">
  <h3>{{ candidate?.userId }}</h3>

  <div *ngIf="hasPermissions">

    <button [disabled]="hasApprovedCandidate" *ngIf="!candidate?.status || candidate?.status === 'declined'"
      [class]="hasApprovedCandidate ? 'button' : 'button button-edit'"
      (click)="onUpdateStatus('approved')">Approve</button>

    <button *ngIf="candidate?.status === 'approved'" class="button button-delete"
      (click)="onUpdateStatus('declined')">Decline</button>

  </div>
</article>
