article {
  margin-right: 20px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  padding: 20px;
}

.button {
  padding: 10px;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.button-edit {
  background: #b1a4f9;
  border: 1px solid #36197e;
}

.button-delete {
  background: #ef8575;
  border: 1px solid #7e1c19;
}
