<article>
  <h2>{{ job.title }}</h2>

  <p><strong>Category: </strong>{{ job.category }}</p>
  <p><strong>Type: </strong>{{ job.type }}</p>

  <p><i>{{ job.description }}</i></p>

  <div *ngIf="hasOrganizationPermissions">
    <a class="button-edit" [routerLink]="['/main', 'jobs', 'edit', job.id]">Edit</a>
    <a class="button-edit" [routerLink]="['/main', 'jobs', job.id, 'candidates']">Candidates</a>
    <button class="button-delete" (click)="onDelete()">Delete</button>
  </div>

  <div *ngIf="hasUserPermissions">
    <button *ngIf="!candidate?.status" class="button-edit" (click)="candidate?.id ? onRemoveApply() : onApply()">{{
      candidate?.id
      ? 'Remove application'
      : 'Apply for this job'
      }}</button>
    <span>{{likesCount}}</span>&nbsp;
    <button class="button-edit" (click)="isAlreadyLiked ? onRemoveLike() : onAddLike()">{{isAlreadyLiked
      ? 'Unlike'
      : 'Like'}}</button>
    <p *ngIf="candidate?.status" [ngClass]="candidate?.status">{{candidate?.status}}</p>
  </div>

</article>
