<h3>Profile</h3>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" />

    <small style="color: red" *ngIf="formGroup.get('email')?.touched && formGroup.get('email')?.hasError('required')">
      This field is required
    </small>
  </div>

  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" />

    <small style="color: red" *ngIf="formGroup.get('name')?.touched && formGroup.get('name')?.hasError('required')">
      This field is required
    </small>
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" />

    <small style="color: red"
      *ngIf="formGroup.get('password')?.touched && formGroup.get('password')?.hasError('required')">
      This field is required
    </small>
  </div>

  <div>
    <button type="submit" [disabled]="formGroup?.invalid">
      Save
    </button>
  </div>
</form>
